body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 63, 64);
    color: white;
}

#app {
    padding: 16px;
}

input,
button {
    font-size: 16px;
}

input {
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

button {
    cursor: pointer;
}

#comments-container {
    height: 92vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.comment {
    margin-bottom: 16px;
    align-self: flex-start;
}

.comment h3 {
    display: block;
    margin: 0 0 4px 0;
}

.comment p {
    margin: 0;
}

/* 
#input-container {
    bottom: 5vh;
} */

.extension-title {
    padding-bottom: 2px; /* Adjust this value to control the distance between the text and the border */
    border-bottom: 2px solid rgb(33, 30, 30); /* Adjust the color, width, and style of the border as needed */
}

.extension-title,
h1 {
    font-size: 1.5rem;
    text-align: center;
}